body{
    background-color: rgb(37, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text-logo{
    color: white;
    text-align: center;
    margin: 0 auto;
}
.first-line-of-n-letter{
    width:50px ;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(176, 7, 16);
    position: absolute;

    

}
.third-line-of-n-letter{
    width: 50px;
    height: 100%;
    background-color: rgb(176, 7, 16);
    position: absolute;
    bottom: 0;
    right: 0;
    
}
.second-line-of-n-letter{
    width: 50px;
    height: 100%;
    margin-left: 20px;
    top: 0;
    left: 0;
    position: absolute;
    transform: skew(22deg);
    transform-origin: left top;
    background-color: rgb(229, 9, 20);
}
.container{
    display: flex;
    height: 200px;
    width: 150px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}