body{
    background-color: rgb(37, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text-logo{
    color: white;
    text-align: center;
    margin: 0 auto;
}
.first-line-of-n-letter{
    width:50px ;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(176, 7, 16);

    

}
.third-line-of-n-letter{
    width: 50px;
    height: 100%;
    background-color: rgb(176, 7, 16);
    
}
.second-line-of-n-letter{
    width: 40px;
    height: 10px;
    margin-left: 20px;
    /* position: absolute;
    top: 95px;
    left: 10px;
    transform: rotate(-10deg); */
    background-color: rgb(229, 9, 20);
}
.container{
    display: flex;
    height: 200px;
    width: 150px;
    position: relative;
    justify-content: space-between;
    align-items: center;
}